<%- include('header') %>

<main>
    <div class="card-body mt-4" style="width: 80%; margin-left: 20%;">
        <h1 class="text-info">All courses posts</h1>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title 1</th>
                        <th>Title 2</th>
                        <th>Price</th>
                        <th>Create date</th>
                        <th>Action</th>
                        <th>image</th>
                    </tr>
                </thead>

                <tbody>
                    <% courses.map((course) => { %>
                    <tr>
                        <td><%= course.name %></td>
                        <td><%= course.title_1 %></td>
                        <td><%= course.title_2 %></td>
                        <td><%= course.price %></td>
                        <td><%= course.createdAt %></td>
                        <td class="d-flex justify-content-around">
                            <a href="/api/5f73231390cf343bec38e4f1/course/edit/<%= course.id %>" class="btn btn-success">Edit</a>
                            <form action="/api/5f73231390cf343bec38e4f1/course/<%= course.id %>" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td><img src="/uploadImage/courseImage/<%= course.photo %>" alt="<%= course.photo %>" width="50"
                                height="50" style="object-fit: contain;"></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('footer') %>