<%- include('header') %>

<div class="container" style="width: 70%; margin-top:10%; margin-left:20%;">
    <form action="/api/news/edit/<%= article.id %>" method="POST">

        <input type="file" name="file">

        <div for="title" class="form-group">
            <label>Title</label>
            <input id="title" name="title" class="form-control" value="<%= article.title %>" placeholder=" title">
        </div>

        <div for="content_1" class="form-group">
            <label>Content 1</label>
            <textarea id="content_1" name="content_1" class="form-control" placeholder="title" rows="5">
                <%= article.content_1 %>
            </textarea>
        </div>

        <div for="content_1" class="form-group">
            <label>Content 2</label>
            <textarea id="content_2" name="content_2" class="form-control" placeholder="title" rows="5">
                <%= article.content_2 %>
            </textarea>
        </div>

        <div for="content_1" class="form-group">
            <label>Content 3</label>
            <textarea id="content_3" name="content_3" class="form-control" placeholder="title" rows="5">
                <%= article.content_3 %>
            </textarea>
        </div>

        <div for="date" class="form-group">
            <label>Sanani kiriting (for example:15-aug 2020)</label>
            <textarea id="date" name="date" class="form-control" placeholder="date"><%= article.date %></textarea>
        </div>

        <input type="submit" class="btn btn-success" value="Edit">
    </form>
</div>