<%- include('header') %>
<% files.forEach(function(file) {%>
<div class="card mb-3 " style="width: 70%; margin-left: 20%;">
    <div class="card-header">
        <div class="card-title">
            <%= file.filename %>
        </div>
    </div>
    <div class="card-body">
        <% if (file.isImage) { %>
        <img src="/admin/news/image/<%= file.filename %>" width="250" alt="" class="img-responsive">
        <%} else { %>
        <p><% file.filename %></p>
        <% } %>
    </div>
    <div class="card-footer">
        <form action="/admin/news/files/del/<%= file._id %>" method="post">
            <button type="submit" class="btn btn-danger">O'chirish</button>
        </form>
    </div>
</div>
<%}) %>
<%- include('footer') %>