<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurslar haqida batafsil ma'lumot</title>
    <link rel="shortcut icon" href="/SVG/logo.svg" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/course_link.css">
</head>

<body>
    <header>
        <div class="header_box">
            <a href="/"><img class="idrok talim logo" src="/SVG/logo.svg" alt="idrokLogo" data-aos="fade-in"
                    data-aos-duration="1500"></a>
            <div class="menu_btn" id="btn_menu" data-aos="fade-in" data-aos-duration="1500">
                <div class="burger1"></div>
                <div class="burger2"></div>
                <div class="burger3"></div>
            </div>
        </div>
        <h1 data-aos="fade-up" data-aos-duration="1500"><%= course.name %></h1>
    </header>


    <!-- Top container -->
    <%- include('top_menu') %>


    <section class="card_box">
        <div class="card_text">
            <div class="card_title" data-aos="fade-up" data-aos-duration="1500">
                <%= course.titleWhat_1 %>
            </div>
            <div class="card_body">
                <h1 data-aos="fade-up" data-aos-duration="1500"><%= course.title_1 %> </h1>

                <p data-aos="fade-up" data-aos-duration="1500"><%= course.content_1 %> </p>
            </div>
        </div>
        <img src="../images/NoPath.png" alt="course idrok" data-aos="fade-up-left" data-aos-duration="1500">
    </section>


    <section class="card_box">
        <img src="../images/NoPath - Copy.png" alt="idrok course" data-aos="fade-up-right" data-aos-duration="1500">
        <div class="card_text">
            <div class="card_title" data-aos="fade-up" data-aos-duration="1500">
                <%= course.titleWhat_2 %>
            </div>
            <div class="card_body">
                <h1 data-aos="fade-up" data-aos-duration="1500"><%= course.title_2 %> </h1>

                <p data-aos="fade-up" data-aos-duration="1500"><%= course.content_2 %> </p>
                <!-- <ul data-aos="fade-up" data-aos-duration="1500">
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>XD</li>
                </ul> -->
            </div>
        </div>
    </section>


    <section class="data" data-aos="fade-up" data-aos-duration="1500">
        <div class="data_card">
            <p class="data_top" data-aos="fade-up" data-aos-duration="1500">Davomiyligi</p>
            <p class="data_middle" data-aos="fade-up" data-aos-duration="1500"><%= course.during %></p>
            <p class="data_bottom" data-aos="fade-up" data-aos-duration="1500">soat</p>
        </div>
        <div class="data_card">
            <p class="data_top" data-aos="fade-up" data-aos-duration="1500">Vaqti</p>
            <p class="data_middle" data-aos="fade-up" data-aos-duration="1500"><%= course.time %></p>
            <p class="data_bottom" data-aos="fade-up" data-aos-duration="1500">soat</p>
        </div>
        <div class="data_card">
            <p class="data_top" data-aos="fade-up" data-aos-duration="1500">Dars kunlari</p>
            <p class="data_middle" data-aos="fade-up" data-aos-duration="1500"><%= course.days %></p>
            <p class="data_bottom" data-aos="fade-up" data-aos-duration="1500">kun</p>
        </div>
        <div class="data_card">
            <p class="data_top" data-aos="fade-up" data-aos-duration="1500">Kurs narxi</p>
            <p class="data_middle" data-aos="fade-up" data-aos-duration="1500"><%= course.price %></p>
            <p class="data_bottom" data-aos="fade-up" data-aos-duration="1500">uzs</p>
        </div>
    </section>


    <section class="send_message">
        <div class="send_text">
            <p data-aos="fade-up" data-aos-duration="1500">Xabar yuboring</p>
            <div class="contact_us" data-aos="fade-up" data-aos-duration="1500">
                <a href="../Contact link new/index.html">Biz bilan aloqa </a>
                <img src="../SVG/arrow.svg" alt="idrok arrow">
            </div>
        </div>
    </section>


    <!-- Footer -->
    <%- include('footer') %>

    <section class="scroll">
        <img src="../SVG/scroll icon.svg" alt="scroll idrok">
    </section>

    <section class="to_top" id="myBtn" onclick="topFunction()">
        <img src="../SVG/arrow-up-s-line.svg" alt="to_top idrok">
    </section>

</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/javascript/course_link.js"></script>

</html>